
Nexus/.vs/

Nexus/Nexus.Web/obj/

Nexus/Nexus.Model/bin/

Nexus/Nexus.Data/obj/

Nexus/Nexus.Model/obj/

Nexus/Nexus.Data/bin/

Nexus/Nexus.Service/obj/

Nexus/Nexus.Application/bin/

Nexus/Nexus.Application/obj/

Nexus/Nexus.Domain/bin/

Nexus/Nexus.Domain/obj/

Nexus/Nexus.Web/bin/
