@model Nexus.Web.Models.SolarSystemViewModel

<div class="container">
    <h2>Detalle del sistema solar: @Model.SolarSystem.Name</h2>

    <div id="solarSystemGrid">
        @for (int y = 1; y <= Model.SolarSystem.GridSizeY; y++)
        {
            @for (int x = 1; x <= Model.SolarSystem.GridSizeX; x++)
            {
                var cellClass = "solar-system-cell";
                var cellContent = "";

                if (x == Model.SolarSystem.GridSizeX / 2 + 1 && y == Model.SolarSystem.GridSizeY / 2 + 1)
                {
                    cellClass += " estrella";
                    cellContent = "Estrella";
                }
                else
                {
                    var planet = Model.SolarSystem.Planets.FirstOrDefault(p => p.CoordinateX == x && p.CoordinateY == y);
                    var asteroid = Model.SolarSystem.AsteroidFields.FirstOrDefault(a => a.CoordinateX == x && a.CoordinateY == y);
                    var jumpGate = Model.SolarSystem.JumpGates.FirstOrDefault(j => j.CoordinateX == x && j.CoordinateY == y);

                    if (planet != null)
                    {
                        cellContent = "Planeta";
                    }
                    else if (asteroid != null)
                    {
                        cellContent = "Campo de asteroides";
                    }
                    else if (jumpGate != null)
                    {
                        cellContent = "Puerta de salto";
                    }
                }

                <div class="@cellClass">
                    @cellContent
                </div>
            }
        }
    </div>

</div>

@section Styles {
    <style>
        #solarSystemGrid { display: grid; grid-template-columns: repeat(@Model.SolarSystem.GridSizeX, 1fr); grid-template-rows: repeat(@Model.SolarSystem.GridSizeY, 1fr); gap: 1px; background-image: url('https://i.pinimg.com/originals/1a/ba/73/1aba73d7d0cf7299158082fab3d8bfa3.jpg'); background-size: cover; background-position: center; margin: 0 auto; /* Para centrar la cuadrícula horizontalmente */ }

        .solar-system-cell { width: 100px; /* Ajusta el tamaño según lo que prefieras */ height: 100px; /* Hacer las celdas cuadradas */ border: 1px solid white; /* Líneas de la cuadrícula blancas */ color: white; display: flex; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */ }

            .solar-system-cell.estrella { background-color: rgba(255, 255, 0, 0.3); /* Estrella con fondo amarillo claro semi transparente */ }
    </style>
}
