@{
    ViewData["Title"] = "Confirm Email";
}

<h2>Your email has been confirmed.</h2>

<a asp-action="Login" class="btn btn-primary">Login</a>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
